.img{
    background: url("/gravity.jpg");
    height: 100%
}
.main{
    min-height: 2000px;
}

.about{
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
    margin-top: 100px;
}
.aboutBlock{
    flex:100%;
    display: flex;
    gap: 100px;

}
.aboutBlock>img{
    flex:  1;
}
.description{
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    /*font-family: "--font-noto-sans", serif;*/
}