.fullimg,.partimg{
    background-image: url("/gravityfull2.png");
    position: absolute;
    background-position: bottom;
    background-size: cover;
    inset: 0;
    z-index: 0;
}
.partimg{
    background-image: url("/gravitypart.png");
    z-index: 20;
}
.top{
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1{
    position: absolute;
    bottom: 35%;
    margin-left: auto;
    margin-right: auto;
    left: 15%;
    right: 0;
    text-align: center;
    z-index: 10;
    color: white;
    /*font-size: clamp(250px,1vw,5px);*/
    font-size: clamp(50px,8vw,250px);
    font-weight: bold;
}
@media (max-width: 1080px) {
    .h1{
        bottom: 30%;
    }
}
@media (max-width: 720px) {
    .h1{
        bottom: 20%;
    }
}