.fullimg,.partimg{
    background-image: url("/gravityfull2.png");
    position: absolute;
    background-position: bottom;
    background-size: cover;
    inset: 0;
    z-index: 0;
}
.partimg{
    background-image: url("/gravitypart.png");
    z-index: 20;
}
.top{
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1{
    position: relative;
    z-index: 10;
    color: white;
    font-size: 80px;
    margin-top: 157px;
    margin-left: 50px;
    font-weight: bold;
}